<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="robots" content="noindex,nofollow,noarchive">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#2d2f2d">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" id="appname" content="REMOTE-GX-IR">
<link rel="stylesheet" href="style.css">
<title>REMOTE-GX-IR</title>
</head>
<body>
<div id="cnt" class="no-session">
</div>
<script src="script.js"></script>
</body>
</html>